<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-gateway-heading" jhiTranslate="gatewaysApp.gateway.home.createOrEditLabel">Create or edit a Gateway</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!gateway.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="gateway.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysApp.gateway.serialNumber" for="field_serialNumber">Serial Number</label>
                    <input type="text" class="form-control" name="serialNumber" id="field_serialNumber"
                        [(ngModel)]="gateway.serialNumber" />
                    <div [hidden]="!(editForm.controls.serialNumber?.dirty && editForm.controls.serialNumber?.invalid)">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysApp.gateway.humanRadableName" for="field_humanRadableName">Human Radable Name</label>
                    <input type="text" class="form-control" name="humanRadableName" id="field_humanRadableName"
                        [(ngModel)]="gateway.humanRadableName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewaysApp.gateway.iPVFour" for="field_iPVFour">I PV Four</label>
                    <input type="text" class="form-control" name="iPVFour" id="field_iPVFour"
                        [(ngModel)]="gateway.iPVFour" pattern="^(?:[0-9]{1,3}.){3}[0-9]{1,3}$"/>
                    <div [hidden]="!(editForm.controls.iPVFour?.dirty && editForm.controls.iPVFour?.invalid)">
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.iPVFour?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'I PV Four' }">
                            This field should follow pattern for "I PV Four".
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
